@media (min-width: 1400px) {
    .container {
        width: 1330px;
    }
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
*{
    font-family: 'Montserrat', sans-serif;
}
.mobile-nav{
  display: none;
}
.footer-mob{
    display: none!important;
}
.container{
    padding: 0!important;
    position: relative;
}
.center{
    text-align: center;
}
.nav{
    z-index: 99;
    background: #ffffff;
    position: fixed;
    width: 100%;
    height: 72px;
    top: 0;
}
.header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-nav_items{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}
.header-nav_items li{
    font-weight: 500;
    list-style: none;
    padding: 0 15px;
    color: #37447E;
    transition: all ease .3s;
    font-size: 30px;
}
.header-nav_items li:hover{
    cursor: pointer;
    color: #165EEB!important;
}
.active-menu{
    color: #165EEB!important;
    font-weight: 600!important;
}
.nav img{
    max-height: 72px;
    height: 100%;
}
.nav .website{
    font-weight: 500;
    max-height: 72px;
    background: #8E92A4;
    color: #ffffff;
    min-height: 72px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 43px;
}
header{
    width: 100%;
    height: 857px;
    margin-top: 72px;
    background: radial-gradient(175.95% 136.09% at 0.83% 100.00%, #B8BDD1 0%, #9CACF3 17.19%, #8289AB 41.15%, #60698E 97.92%);
}
.header-block h1{
    padding-top: 171px;
    color: #FFF;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 95px;
    text-transform: uppercase;
}
.header-list{
    padding:0;
    margin: 133px 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}
.header-list li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}
.header-list li svg{
    margin-right: 15px;
}
.header-block p{
    color: #FFF;
    font-kerning: none;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}
.header-block p span{
    font-weight: 600;
}
.header-block a{
    color: #37447E;
    padding: 12px 18px;
    font-size: 24px;
    font-weight: 600;
    background: #D9D9D9;
    border-radius: 6px;
    float: right;
    margin-top: -35px;
    text-decoration: none;
    transition: all ease .4s;
}
.header-block a:hover{
    cursor: pointer;
    background: #37447E;
    color: #D9D9D9;
}
.block-item{
    position: relative;
    background: url("../img/block-bg.png") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 110px;
    padding-bottom: 76px;
}
.block-item h2{
    font-weight: 500;
    font-size: 64px;
    color: #37447E;
    padding-bottom: 50px;
    text-transform: uppercase;
}
.block-item p{
    font-weight: 400;
    font-size: 32px;
    color: #37447E;
    text-align: justify;
}
.block-item_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 49px;
}
.img_block{
    overflow: hidden;
    min-width: 550px;
    margin-left: 10px;
}
.block-item_content img{
    transition: all ease .3s;
}
.block-item_content img:hover{
    transform: scale(1.2);
}
.block-item_content p{
    font-size: 36px;
    font-weight: 400;
    color: #37447E;
    text-transform: uppercase;
}
.our_img{
    position: absolute;
    right: 0;
    top: 145px;
}
.block-item  .list-services{
    margin-top: 130px;
}
.block-item .list-services li{
    list-style: none;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 25px;
    color: #37447E;
    text-transform: uppercase;
}
.block-item .list-team{
    padding: 0;
    margin: 190px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.block-item .list-team li{
    text-align: center;
    list-style: none;
    width: 25%;
}
.block-item .list-team p{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}
.block-item .list-team span{
    display: block;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
.block-item .list-team .img_block{
    margin: 0;
    min-width:280px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
}
.block-item .list-team img{
    width: 100%;
    transition: all ease .3s;
}
.block-item .list-team img:hover{
    transform: scale(1.1);
}
footer{
    background: url("../img/footer-bg.png") no-repeat center;
    background-size: cover;
}
footer .corp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 75px 0;
    font-size: 24px;
    color: #ffffff;
}
footer .footer-nav{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}
footer .footer-nav .footer-nav_block{
    margin-top: 112px;
    width: 25%;
    padding: 40px 19px 19px 19px;
    border-right: 1px solid #fff;
    min-height: 100%;
}
footer .footer-logo{
    width: 100%;
}
footer .footer-nav .footer-nav_block p{
    padding-top: 20px;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}
footer .footer-nav .footer-nav_block p span{
    font-weight: 500;
}
footer .footer-nav .footer-nav_block h3{
    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 21px;
}
footer .footer-nav .footer-nav_block ul{
    padding: 0;
}
footer .footer-nav .footer-nav_block ul li{
    list-style: none;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    padding: 10px 0;
}
.mobile-hide{
    display: none!important;
}
.mob-img{
    display: none;
}
footer .footer-nav a{
    color: #fff;
    text-decoration: none;
}
.pages h2{
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    padding: 7px 38px;
    margin-top: 120px;
    color: #37447E;
    margin-bottom: 75px;
    background: linear-gradient(90deg, #DFDFE0 0%, rgba(231, 228, 228, 0.54) 45.31%, rgba(232, 231, 231, 0.00) 100%);
}
.pages p{
    padding: 15px 0;
    font-size: 32px;
    color: #37447E;
    font-weight: 400;
}
.pages .bolder{
    font-weight: 600;
}
.pages .warn{
    font-weight: 600;
    font-size: 32px;
    color: #EE5656;
}
.pages .normal span{
    font-weight: 600;
    font-style: italic;
}
.pages .warn-middle{
    font-weight: 400;
    font-size: 32px;
    color: #EE5656;
}
.pages .warn-middle span{
    font-weight: 600;
}
.pages .notice{
    padding: 15px;
    background: linear-gradient(90deg, #C2BEBE 0%, rgba(231, 228, 228, 0.54) 47.40%, rgba(232, 231, 231, 0.00) 100%);
}
.pages .notice span{
    font-style: italic;
    color: #EE5656;
    font-weight: 600;
    text-decoration: underline;
}
.orange{
    color: #FFD166!important;
}
.footer-nav_block ul li img{
    width: 30px;
    margin-right: 15px;
}
.footer-nav_block ul li a:hover{
    color: #37447E!important;
}
.contact-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contact-block .left-contact{
    background: #60698E;
    border-radius: 27px;
    padding: 24px;
    margin: 80px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-block .left-contact .contact-item{
    width: 100%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-block .left-contact .contact-item a{
    color: #ffffff;
    font-size: 26px;
    font-weight: 500;
}
.contact-block .left-contact .contact-item a:hover{
    color: #37447E!important;
}
.contact-block .left-contact .contact-item:first-child{
    border-bottom: 1px solid #fff;
}
.contact-block .left-contact .contact-item img{
    margin: 15px;
}
.contact-block .right-contact h3{
    color: #37447E;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
.contact-block .right-contact input{
    width: 45%;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    background: #ffffff;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 400;
}
.contact-block .right-contact textarea{
    width:95%;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    background: #ffffff;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 400;
}
.contact-block .right-contact button{
    background: #60698E;
    border-radius: 40px;
    padding: 14px 50px;
    border: none;
    color: #fff;
    margin: 15px;
    font-size: 20px;
    font-weight: 500;
}
.follow h3{
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: #37447E;
}
.follow ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.follow ul li{
    list-style: none;
    height: 100px;
    margin: 40px 20px 0 20px;
}
.follow ul li img{
    height: 100%;
    width: auto;
}
@media screen and (max-width: 1400px) {
    .header-nav_items li {
        font-size: 25px;
    }

    .nav .website {
        font-size: 20px;
    }

    .header-block p {
        font-size: 32px;
    }

    .block-item_content p {
        font-size: 29px;
    }
    .our_img{
        width: 50% ;
    }
    .block-item .list-team li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }
    .block-item .list-team .img_block{
        min-width: 200px;
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width: 1200px) {
    .nav .website {
        font-size: 15px;
    }
    .header-nav_items li {
        font-size: 20px;
    }
    .header-block h1 {
        font-size: 55px;
        padding-top: 135px;
    }
    .header-list {
        font-size: 23px;
    }
    .header-block p {
        font-size: 24px;
    }
    .header-block a {
        padding: 6px 18px;
        font-size: 20px;
    }
    .block-item h2 {
        font-size: 50px;
    }
    .block-item_content p {
        font-size: 22px;
    }
    .block-item p{
        font-size: 25px;
    }
    .block-item .list-services li {
        font-size: 27px;
    }
    footer .footer-nav .footer-nav_block ul li {
        font-size: 18px
    }
    footer .footer-nav .footer-nav_block p{
        font-size: 20px;
    }
    footer .footer-nav .footer-nav_block h3{
        font-size: 24px;
    }
    .footer-nav_block ul li img{
        width: 30px;
    }
    footer .corp{
        font-size: 18px;
    }
}

@media screen and (max-width: 990px){
    .header-block h1{
        width: 100%;
        text-align: center;
    }
    .header-list{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 80px 0;
    }
    .header-list li{
        margin: 10px 0;
    }
    .header-block p{
        text-align: center;
    }
    .header-block a{
        width: 100%;
        margin-top: 20px;
    }
    .block-item_content{
        flex-direction: column;
    }
    .list-services li{
        padding-left: 0!important;
    }
    .block-item .list-team{
        flex-wrap: wrap;
        margin-top: 75px;
    }
    .block-item .list-team li{
        width: 50%;
    }
    footer .footer-nav .footer-nav_block h3{
        font-size: 18px;
    }
    footer .footer-nav .footer-nav_block h3{
        font-size: 16px;
    }
    footer .footer-nav .footer-nav_block p {
        font-size: 16px;
    }
    .footer-nav_block ul li img {
        width: 15px;
    }
    footer .corp {
        font-size: 16px;
    }
    .header-nav_items li {
        font-size: 16px;
    }
    .nav .website {
        padding: 0 15px;
    }
    .logo{
        width: 100px;
    }
    .nav img {
        max-height: 72px;
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 800px) {
    .container {
        width: 100% !important;
    }

    .desctop-nav {
        display: none;
    }

    .footer-desc{
        display: none!important;
    }

    .footer-mob{
        display: block!important;
    }

    .mobile-nav {
        display: block;
    }

    .logo {
        width: auto;
    }

    .burger {
        width: 50px;
        margin-right: 15px;
    }

    .burger-line {
        border-bottom: 2px solid #000;
        margin-top: 10px;
    }

    .header-nav_items {
        width: 100%;
        background: #F3F5F8;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-nav_items li {
        margin-left: 5%;
        width: 90%;
        padding: 15px;
        border-bottom: 1px solid #B1B1B1;
    }

    .active-menu {
        padding: 30px 0 30px 15px !important;
    }

    .mobile-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background: #F3F5F8;
        padding-bottom: 20px;
        font-size: 16px;
        transition: all ease .3s;
    }

    .mobile-block .cont {
        margin-left: 5%;
        width: 90%;
        padding: 15px;
        color: #37447E;
        font-size: 14px;
    }

    .mobile-block img {
        width: 30px;
    }

    .mobile-block .start {
        width: 80%;
        margin-left: 10%;
        border-radius: 5px;
        background: linear-gradient(88deg, #A9AEC3 0%, #37447E 67.64%);
        box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
        font-size: 16px !important;
        color: #ffffff;
        font-weight: 700;
        text-align: center;
        padding: 10px;
    }

    .header-block h1 {
        padding-top: 70px;
        font-size: 25px;
        line-height: 50px;
    }

    .header-list {
        width: 90%;
        margin-left: 5%;
        font-size: 16px;
    }

    header {
        height: auto;
        padding-bottom: 25px;
        background-image: url("../img/mob-bg.png"), radial-gradient(175.95% 136.09% at 0.83% 100.00%, #B8BDD1 0%, #9CACF3 17.19%, #8289AB 41.15%, #60698E 97.92%);
    }

    .header-block p {
        font-size: 16px;
        line-height: 20px;
    }
    .header-block a {
        display: block;
        float: left;
        width: 80%;
        margin-left: 10%;
        border-radius: unset;
        font-size: 15px;
        margin-top: 70px;
    }
    .block-item{
        padding-top: 0px;
    }
    .block-item h2{
        font-size: 25px;
        padding: 15px 5%
    }
    .block-item p{
        font-size: 18px!important;
        padding: 10px 5%;
        margin: 0;
    }
    .mob-img{
        display: block;
    }
    .desc-img{
        display: none;
    }
    .block-item_content{
        margin-bottom: 0;
    }
    .our_img{
        position: relative;
        width: 100%;
        top: 0;
    }
    .block-item .list-services{
        margin-top: 15px;
        width: 90%;
        margin-left: 5%;
        padding-left: 5%;
    }
    .block-item .list-services li{
        font-size: 16px;
        list-style: disc;
    }
    .block-item{
        padding-bottom: 15px;
    }
    .block-item .list-team li{
        width: 100%;
    }
    .block-item .list-team li{
        width: 90%;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 5%;
        margin-bottom: 20px;
    }
    .block-item .list-team .img_block {
        margin-right: 20px;
        min-width: 85px;
        width: 85px;
        height: 85px;
    }
    .block-item .list-team p{
        text-align: left;
        font-size: 16px;
    }
    .block-item .list-team span{
        text-align: left;
        font-size: 16px;
    }
    .block-item .list-team {
        margin-top: 0;
    }
    .footer-menu{
        margin-top: 30px;
        width: 90%;
        margin-left: 5%;
    }
    .footer-menu p{
        color: #37447E;
        padding: 5px 18px 5px 18px;
        display: flex;
        font-size: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(89deg, #D9D9D9 44.09%, rgba(255, 242, 242, 0.00) 96.38%);
    }
    .footer-menu p img{
        background: #37447E;
        border-radius: 50%;
        padding: 2px;
    }
    .footer-menu ul{
        padding-left: 0;
    }
    .footer-menu ul li{
        width: 90%;
        margin-left: 5%;
        list-style: none;
        font-size: 15px;
        border-bottom: 1px solid #fff;
        color: #fff;
        padding: 15px 0;
    }
    .footer-mob .footer-nav_block{
        width: 90%!important;
        margin-top: 0!important;
        margin-left: 5% !important;
        padding: 0!important;
    }
    .footer-mob .footer-nav_block ul{
        width: 90%;
        margin-left: 5%;
    }
    .footer-mob .footer-nav_block ul li img{
        width: 30px;
        margin-right: 15px;
    }
    footer .footer-nav .footer-nav_block h3{
        font-size: 20px;
    }
    footer .corp{
        width: 90%;
        margin: 30px 5% 30px 5%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

}
